<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
      (click)="onSelect(hero)"
      [class.selected]="hero === selectdHero">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>
<div *ngIf="selectdHero">
  <h2>{{ selectdHero.name | uppercase }} Details</h2>
  <div>
    <span>ID: </span> {{selectdHero.id}}
  </div>
  <div>
    <span>Name: </span> {{selectdHero.name}}
    <label>Name:
      <input [(ngModel)]="selectdHero.name" placeholder="name" name='tx_name'/></label>
  </div>
</div>
